.modal {
	position: absolute;
	background: #ccc;
	
	width: 95%;
	height: 100%;	
}

.modal > .close{
	float: right;
}

.hide {
	display: none;
}

.show {
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.margin {
	margin: 5px;
}

.task-list > div {	
	background: #ccc;
	margin-top: 10px;
	padding: 10px;
}

span {
	padding: 5px;
	margin: 5px;
}

.param {
	background: #fff;
}