.modal {
	position: absolute;
	background: #CCC;
	
	width: 95%;
	height: 100%;	
}

.modal > .close{
	float: right;
}

.hide {
	display: none;
}

.show {
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.error {
	color : #F00;
}

.incomplete {
	background: #ccc;
}

.param.error {
	border: 2px solid #F00;
}


.margin {
	margin: 5px;
}

.action-list > div {	
	background: #CCC;
	margin-top: 10px;
	padding: 10px;
	min-height: 50px;
}

span {
	padding: 5px;
	margin: 5px;
}

.param {
	background: #FFF;
	max-width: 600px;
	display: inline-block;
}